ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*topbar*/
.topbar_t{
	float: left;
	font-size: 12px;
	color: #888;
}
.topbar_r{
	float: right;
}
.topbar{
	background-color: #F2F2F2;
	width: 100%;
    height: 33px;
    line-height: 32px;
    background: #f2f2f2;
    border-bottom: 1px solid #e4e4e4;
}
.topbar_r .tel{
    font-size: 16px;
    color: #e6000d;
    padding: 0 15px;
    background:url(../images/tel.png) 0 center no-repeat;
}
.topbar_r p{
    float: left;
    margin: 0;
    border-right: 1px solid #e4e4e4;
}
/*nav*/
.nav>li>a{
	padding: 10px 0;
    line-height: 30px;
    font-size: 16px;
    color: #333;
    position: relative;
}
.navbar-rd {
    padding-top: 35px;
    margin-bottom: 0;
    padding-bottom: 35px;
}
.nav {
    float: right;
    margin-right: -15px;
}
.nav>li {
    float: left;
    margin-left: 45px;
}
.logo_txt {
    float: left;
    font-size: 12px;
    color: #999;
    padding-top: 8px;
    padding-left: 12px;
    line-height: 1.7;
    position: relative;
}
.logo_txt i {
    display: inline-block;
    font-style: normal;
    padding: 0 6px;
    background: #ccc;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    line-height: 1.4;
}
.navbar-brand {
    padding: 0 15px;
}
@media screen and (max-width: 767px){
	.nav {
	    margin-right: 0;
	    float: none;
	}
}
@media screen and (max-width: 767px){
	.logo_txt {
	    display: none;
	}
}
@media screen and (max-width: 767px){
	.topbar {
	    display: none;
	}
}
@media screen and (max-width: 767px){
	.navbar-brand img {
	    height: 24px;
	}
}
@media screen and (max-width: 767px){
	.navbar-rd {
	    padding-top: 0;
	    padding-bottom: 0;
	}
}
@media screen and (max-width: 767px){
	.navbar-brand {
	    padding: 13px 15px;
	}
}
.caseNav ul {
    text-align: center;
}
.caseNav li a {
    display: block;
    height: 30px;
    width: 110px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    border-radius: 15px;
}
.nav>li>a.active {
    color: #e5000c;
}
.nav>li>a {
    padding: 10px 0;
    line-height: 30px;
    font-size: 16px;
    color: #333;
    position: relative;
}
a{
    text-decoration: none ;
}
.nav>li>a:hover:after {
    content: "";
    width: 32px;
    height: 2px;
    background: #e5000c;
    position: absolute;
    left: 0;
    bottom: 4px;
}
.nav>li>a:after {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 4px;
    transition: all 0.5s;
}
.nav>li>a.active:after{
    content: "";
    width: 32px;
    height: 2px;
    background: #e5000c;
    position: absolute;
    left: 0;
    bottom: 4px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
    color: #e5000c;
}
.sec_banner img {
    width: 100%;
}
/*container*/
.position {
    margin-top: 30px;
    height: 40px;
    border-bottom: 1px solid #d6d6d6;
    line-height: 40px;
    overflow: hidden;
    margin-bottom: 30px;
}
.container ul li a{
    text-decoration: none !important;
    color:#6B6B83;
}
.position p {
    float: left;
    line-height: 39px;
    border-bottom: 1px solid #e5000c;
    color: #888;
}
.caseNav ul {
    text-align: center;
    list-style: none;
}
.caseNav li {
    display: inline-block;
    margin: 0 5px;
}
.caseNav li a.on, .caseNav li a:hover {
    background: #e5000c;
    color: #fff;
    border: 1px solid #e5000c;
}
.caseNav li a {
    display: block;
    height: 30px;
    width: 110px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    border-radius: 15px;
}
.caseNav {
    margin-bottom: 40px;
}
.case_list li img {
    width: 100%;
}
.case_list li {
    margin-bottom: 30px;
}
.case_list ul li{
	list-style: none;
}
.case_list li div {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.case_list li p {
    margin: 0;
    font-size: 12px;
    line-height: 1;
    margin-top: 12px;
}
/*folter*/
.links {
    border: 1px solid #e1e1e1;
    height: 82px;
    border-right: none;
    border-left: none;
}
.link_con h3 {
    flex: 0 0 120px;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-bottom: none;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin: 0;
}
.link_con {
    display: flex;
}
.link_list {
    flex: 1;
    padding: 10px 0;
}
.link_list a {
    color: #666;
    font-size: 12px;
    text-decoration: none;
    float: left;
    padding: 0 0 0 18px;
    line-height: 30px;
}
.link_b {
    padding: 20px 0;
}
.link_b p {
    float: left;
    margin: 0;
    width: 11%;
    margin-right: 1.5%;
    font-size: 12px;
    color: #333;
    padding-left: 38px;
    line-height: 1.6;
}
.link_b p:nth-child(1) {
    background: url(../images/link1.png) 0 center no-repeat;
}
.link_b p:nth-child(2) {
    background: url(../images/link2.png) 0 center no-repeat;
}
.link_b p:nth-child(3) {
    background: url(../images/link3.png) 0 center no-repeat;
}
.link_b p:nth-child(4) {
    background: url(../images/link4.png) 0 center no-repeat;
}
.link_b p:nth-child(5) {
    background: url(../images/link5.png) 0 center no-repeat;
}
.link_b p:nth-child(6) {
    background: url(../images/link6.png) 0 center no-repeat;
}
.link_b p:nth-child(7) {	
    background: url(../images/link7.png) 0 center no-repeat;
}
.link_b p:nth-child(8) {
    background: url(../images/link8.png) 0 center no-repeat;
}
@media screen and (max-width: 1200px){
	.link_b, .links, .foot_nav {
    display: none;
	}
}


.foot_nav {
    background: #383a3e;
    padding-bottom: 40px;
}
.foot_nav .container {
    display: flex;
}
.copyright {
    line-height: 60px;
    height: 80px;
    background: #222;
}
.nav_c {
    flex: 1;
    padding-top: 30px;
}
.nav_c dl {
    float: left;
    width: 20%;
}
.nav_c dt {
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    font-weight: normal;
    margin-bottom: 10px;
}
.nav_c dd {
    font-size: 12px;
    color: #a8a8a8;
    margin-bottom: 10px;
}
.nav_c dd a {
    color: #a8a8a8;
    text-decoration: none;
}
.nav_r .add a {
    position: relative;
    font-size: 14px;
    color: #8c8c8c;
    padding: 0 15px;
    text-decoration: none;
}
.foot_nav .container {
    display: flex;
}	
.copyright p {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin: 0 auto;
}