body{
  margin-bottom: 60px;
}
.clear:after{
  content:"";
  display: block;
  clear:both;
}
.topbar{
  background-color: gray;
  height:33px;
  line-height: 32px;
  background: #f2f2f2;
  border-bottom: 1px solid #e4e4e4;
}
.topbar_t,.topbar_r{
  line-height: 30px;
}
.topbar_t{
  float:left;
  font-size:12px;
}
.topbar_r{
  float:right;
}
.topbar_r p{
  padding-top: 0 !important;
  font-size: 16px;
  color: #e6000d;
  padding: 0 15px;
  background: url(../images/tel.png) 0 center no-repeat;
  border-right: 1px solid #e4e4e4;
}
.navbar-brand {
    padding: 0 15px;
}
.logo_txt{
  float: left;
  font-size: 12px;
  color: #999;
  padding-top: 8px;
  padding-left: 12px;
  line-height: 1.7;
  position: relative;
}
.logo_txt:after {
    content: "";
    width: 1px;
    height: 40px;
    background: #eee;
    position: absolute;
    left: 0;
    top: 6px;
}
.navbar-default{
  background:none;
  border:none;
}
.nav{
  margin-right: -15px;
}
.navbar-rd{
      padding-top: 35px;
      margin-bottom: 0;
      padding-bottom: 35px;
}
.nav>li{
      margin-left: 45px;
}
.nav>li>a {
    padding: 10px 0;
    line-height: 30px;
    font-size: 16px;
    color: #333;
    position: relative;
}
.nav>li>a.active {
    color: #e5000c;
}

.nav>li>a.active:after{
    content: "";
    width: 32px;
    height: 2px;
    background: #e5000c;
    position: absolute;
    left: 0px;
    bottom: 4px;
}
 .nav>li>a:after {
    content: "";
    width: 0px;
    height: 2px;
    background:#e5000c;
    position: absolute;
    left: 0;
    bottom: 4px;
    transition: all 0.8s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.nav>li>a:hover:after {
    content: "";
    width: 32px;
    height: 2px;
    background: #e5000c;
    position: absolute;
    left: 0px;
    bottom: 4px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
    color: #e5000c !important;
}
@media screen and (max-width: 995px) and (min-width: 768px){
  .logo_txt {
      display: none;
  }
  .nav>li {
      margin-left: 40px;
  }
}

@media screen and (max-width: 767px){
  .logo_txt {
    display: none;
  }
  .navbar-rd {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav>li {
      margin-left: 0px;
  }
  .topbar{
    display:none;
  }
  .navbar-brand img{
    height: 24px;
  }
  .nav>li>a {
    text-align:center;
    border-bottom:1px solid #eee;
  }
  .nav>li>a:after{
     transition:all 0s !important;
     width: 0px !important;
  }
  .nav>li>a:hover{
    color:#e5000c !important;
  }
}
.hui img{
  width: 100%;
  height: 287px;
}
.service-pagination{
  text-align: center;
}
.swiper-pagination-bullet{
  margin-left: 15px !important;
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
  outline: none !important;
  background-color: #333 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  background-color: red !important
}
#banner li{
  width: 45px;
  height: 2px;
  margin-left: 15px;
  background-color: #333;
  border-radius: 0;
  border:0;
}
#banner li.active{
  background-color: red;
}
.row{
  margin-top: 15px;
  text-align: center;
}
.row .line{
  width: 500px;
  height: 24px;
  position: relative;
  top: -12px;
  border-bottom: 1px solid #ccc;
}
.row .txt{
  display: inline-block;
  padding: 0 18px;
  font-size: 18px;
  font-weight: bold;
}
.container p{
  text-align: center;
  padding-top: 10px;
}
.navitem{
  margin-top: 35px;
  display: flex;
}
.navitem .round{
  text-align: center;
  width: 22%;
  float:left;
  margin-left: 28px;
  flex-shrink: 0;
}
.round span{
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 110px;
  line-height: 100px;
}
.round li a{
  color:#000;
  text-decoration: none;
}
.round li:hover a{
  color:#e5000c;
}
.list li:hover{
  border:1px solid red !important;
}
.round:hover h3{
  color:#e5000c;
}
.list li{
  text-align: center;
}
.round h3{
  text-align: center;
  color:#333;
}
.round p{
  color:#999;
  font-size: 12px;
  height: 66px;
}
.round .list{
  padding-left: 0px;
}
.round .list li{
  list-style: none;
  float:left;
  font-size: 12px;
  width: 48%;
  line-height: 30px;
  height: 30px;
  border:1px solid #e5e5e5;
}
.round .list li:first-child,.round .list li:nth-child(3){
  margin-right: 2%;
  margin-bottom: 6px;
}
.round .list li:nth-child(2),.round .list li:nth-child(4){
  margin-bottom: 6px;
}
/*网站建设与营销案例样式*/
.swiper-pagination{
  text-align: center !important;
  width: 100% !important;
  top: 90px !important
}
.hd .swiper-pagination-bullet{
  display: inline-block !important;
    width: 120px !important;
    height: 32px !important;
    background: #e9e9e9 !important;
    font-size: 14px !important;
    color: #333 !important;
    line-height: 32px !important;
    margin: 0 5px;
    border-radius: 3px !important;
}
.hd .swiper-pagination-bullet-active{
  background-color: red !important;
  color: #fff !important;
}
.swiper-container{
  margin-top: 85px !important;
}
.container .hd .rui{
  background:red;
  color:#fff;
}
.container .hd .swiper-pagination-bullet:hover {
  background:red !important;
  color:#fff !important;
}
.case{
    position: relative;
    background: url('../images/case_bg (1).jpg') center 0/cover no-repeat;
}
/*栏目开始*/
.case_list{
  flex-wrap:wrap;
}
.case_list li div {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.case_list li p {
    margin: 0;
    font-size: 13px;
    line-height: 1;
    margin-top: 12px;
}
.case_list li {
    margin-bottom: 30px;
}
.case_list li a {
    color: #6b6b6b;
    text-decoration: none;
}
.hui{
  color:red !important;
}
.case_more a{
    display: block;
    width: 180px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #e5000c;
    border: 1px solid #e5000c;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-decoration: none;
}
/*服务优势*/
.advantage_c{
  margin-top: 0 !important;
}
.advantage_c .icon {
    position: absolute;
    width: 90px;
    height: 90px;
    display: table;
    left: 50%;
    margin-left: -45px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    top: -45px;
    background: #fff;
}
.advantage_c .icon span {
    display: table-cell;
    vertical-align: middle;
}
.advantage_c p {
    padding: 20px;
    text-align: left;
    font-size: 12px;
    color: #666;
    line-height: 1.8;
    height: 152px;
    margin: 0;
}
.advantage_c .swiper-slide:hover p{
    color: red;
}
.advantage_c .swiper-slide:hover h4{
    color: red;
}
.advantage_c .swiper-slide:hover {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.good{
      text-align: center;
    padding-top: 70px;
    border: 1px solid #eaeaea;
    margin-top: 65px;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 20px;
    transition: all 0.25s;
}
@media screen and (min-width: 1024px){
  .advantage_c .swiper-pagination-bullet,.service-pagination .swiper-pagination-bullet{
      display: none;
  }
}
/*设计顾问样式*/
.adviser {
    background: url(../images/your_bg.png) center 0 no-repeat;
    padding: 70px 0 80px;
    text-align: center;
}
.adviser .more a {
    display: inline-block;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin: 0 5px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}
.adviser h2 {
    font-size: 28px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 20px;
}
.adviser p {
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
    margin-bottom: 60px;
}
.adviser .more a:first-child{
  background-color: red;
}
.adviser .more a:last-child{
  background-color: #0689f9;
}
/*合作伙伴样式*/
.partner_con{
  padding: 30px 0;
}
.partner_con ul {
    border: 1px solid #e6e6e6;
    border-right: none;
    border-bottom: none;
    list-style: none;
    padding-left: 0 !important;
}
.partner_con li {
    float: left;
    width: 20%;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    overflow: hidden;
}
.partner_con li span{
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.partner_con li:hover span{
    top: 0px;
}
.partner_con li:hover .tad{
  top: -100px;
}
.partner_con li>img{
    position: relative;
    top: 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
@media screen and (max-width: 992px) and (min-width: 768px){
  .partner_con li {
    width: 25%;
  }
}

@media screen and (max-width: 768px){
  .partner_con li {
    width: 50%;
  }
}
/*企业动态样式*/
.screen{
  background-color: #F6F6F6 !important;
  margin-bottom: 40px !important;
}
.news_list ul{
  list-style: none;
  padding-left: 0;
}
.news_con .title h4 {
    float: left;
    font-size: 16px;
    color: #333;
    padding: 0 12px;
    border-bottom: 1px solid #e5000c;
    position: relative;
    top: 1;
    line-height: 34px;
    margin: 0;
}
.news_con .title a {
    float: right;
    line-height: 35px;
    background: url(../images/news_more.png) 0 center no-repeat;
    padding-left: 18px;
    text-decoration: none;
    font-size: 12px;
    color: #999;
}
.news_con>.row>div {
    margin-bottom: 30px;
}
.news_con .title {
    height: 35px;
    line-height: 34px;
    border-bottom: 1px solid #d5d5d5;
}
.news_list li {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
  }
  .news_list .title_img img {
    width: 100%;
}
  .news_list li i {
    font-style: normal;
    color: #999;
    margin-right: 8px;
    float: left;
    margin-right: 3px;
}
.news_list li a {
    color: #333;
    text-decoration: none;
    float: left;
}
.news_list .title_img {
    margin: 20px 0;
    display: block;
}
/*末尾信息样式*/
.link_con{
  border:1px solid  #ccc;
  border-right: none;
  border-left: none;
}
.ruise{
  padding: 0 !important;
}
.link_con h3{
  margin: 0;
  float:left;
  line-height: 80px;
  text-align: center;
  font-size: 16px;
  width: 120px;
  border:1px solid #ccc;
  border-top: none;
  border-bottom: none;
}
.link_con .link_list{
  margin-top: 15px;
}
.link_con .link_list a{
  color:#333;
  margin-left: 15px;
  font-size: 12px
}
.link_con .link_b p{
  float:left !important;
}
.link_d p{
  float:left;
  box-sizing:border-box;
  width: 12.5%;
  font-size: 12px;
  padding-left: 20px;
}
.foot_nav{
  background-color: #383A3E;
}
.nav_c{
  position: relative;
}
.nav_c a:hover{
  text-decoration: none !important;
}
.nav_c dl{
  float: left;
  width: 185px;
}
.nav_c dl dt{
  color:#fff;
  font-size: 16px;
  font-weight: normal;
  margin-top: 35px;
  margin-bottom: 10px;
}
.add{
  padding-left: 40px;
  padding-top: 10px;
  position: relative;
}
.nav_c dl dd a,.add a{
  color:#A8A8A8;
  line-height: 26px;
  font-size: 12px;
}
.add a{
  margin-left: 30px;
}
.add span{
  position: absolute;
  color:#fff;
  top:-30px;
  background-color: #000000;
  padding: 5px 10px;
  border-radius: 3px;
  display: none;
}
.add .one{
  left:30px;
  width: 120px;
}
.add span:last-child{
  right:55px;
}
.nav_r{
  position: absolute;
  right:0;
}
.copyright{
  background-color: #222222;
  color:#999999;
  padding: 10px 0;
}
@media screen and (max-width: 1300px){
  .max_link,.copyright{
   display: none;
  }
  .online{
    display: none;
  }
}
.online{
  background-color: #F12F3C;
  height: 60px;
  vertical-align: middle;
  border-top:3px solid rgb(229,0,12);
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  bottom:0;
  width: 100%;
}
.shadow{
  position: relative;
}
.ol,.or,.orr{
  float:left;
}
.ol p{
  height: 40px;
  width: 580px;
  color:#fff;
  text-align: left;
  padding-left: 15px;
  float:left;
}
.or{
  height: 60px;
  line-height: 35px;
  margin-left: 100px;
}
.or .tel_img{
  line-height: 55px;
  margin-right: 15px;
}
.ol .ewm{
  float:left;
  padding-top: 5px;
}
.or .tel_img,.or p{
  float:left;
  font-size: 19px;
  color:#fff;
}
.online_btn{
  position: absolute;
  right:-6px;
  top:-24px;
}
/*左边固定栏目样式*/
.erweo .lin{
  position: fixed;
  right:0;
  top:174px;
  z-index: 990;
}