/*
* @Author: sfwal
* @Date:   2017-10-27 14:36:16
* @Last Modified by:   name
* @Last Modified time: 2017-11-13 16:51:47
*/
/*reset*/
body{
    font-family: "Microsoft Yahei";
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
/* topbar */
.topbar{
    width: 100%;
    height: 33px;
    line-height: 32px;
    background: #f2f2f2;
    border-bottom: 1px solid #e4e4e4;
}
.topbar_t{
    font-size: 12px;
    color: #888;
    float: left;
}
.topbar_r{
    float: right;
}
.topbar_r p{
    float: left;
    margin:0;
    border-right:1px solid #e4e4e4;
}
.topbar_r .tel{
    font-size:16px;
    color:#e6000d;
    padding: 0 15px;
    background:url(../images/tel.png) 0 center no-repeat;
}
.topbar_r .qq,.topbar_r .weixin{
    font-size:12px;
    color:#888;
    padding:0 8px;
}
.topbar_r .qq a{
    background:url(../images/QQ.png) right center no-repeat;
}
.topbar_r .weixin a{
    background:url(../images/wx.png) right center no-repeat;
    position:relative;
}
.topbar_r .weixin a img{
    position:absolute;
    left: -16px;
    top: 34px;
    z-index: 99;
    display:none;
}
.topbar_r .weixin a:hover img{
    display:block;
}
.topbar_r .qq a , .topbar_r .weixin a{
    color:#888;
    text-decoration:none;
    display:block;
    padding-right:18px;
}

/* nav */
.navbar-rd{
    padding-top: 35px;
    margin-bottom: 0;
    padding-bottom:35px;
}
.navbar-brand{
    padding:0 15px;
}
.logo_txt{
    float:left;
    font-size:12px;
    color:#999;
    padding-top:8px;
    padding-left:12px;
    line-height:1.7;
    position: relative;
}
.logo_txt:after{
    content: "";
    width:1px;
    height:40px;
    background:#eee;
    position:absolute;
    left:0;
    top: 6px;
}
.logo_txt i{
    display:inline-block;
    font-style: normal;
    padding:0 6px;
    background:#ccc;
    color:#fff;
    border-radius: 5px;
    margin-right:10px;
    line-height:1.4;
}
.nav{
    float: right;
    margin-right: -15px;
}
.nav>li{
    float:left;
    margin-left:45px;
}
.nav>li>a{
    padding:10px 0;
    line-height:30px;
    font-size:16px;
    color:#333;
    position:relative;
}
.nav>li>a:after{
    content:"";
    width:0px;
    height:2px;
    position:absolute;
    left:0;
    bottom: 4px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.nav>li>a:focus, .nav>li>a:hover{
    background:none;
    color:#e5000c;
}
.nav>li>a:hover:after{
    content:"";
    width:32px;
    height:2px;
    background:#e5000c;
    position:absolute;
    left:0;
    bottom: 4px;
}
.nav>li>a.active{
    color:#e5000c;
}
.nav>li>a.active:after{
    content:"";
    width:32px;
    height:2px;
    background:#e5000c;
    position:absolute;
    left:0;
    bottom: 4px;
}

/*footer*/
.footer{
    margin-top:40px;
}
.links{
    border: 1px solid #e1e1e1;
    height:82px;
    border-right:none;
    border-left:none;
}
.link_con{
    display:flex;
}
.link_con h3{
    flex:0 0 120px;
    border: 1px solid #e1e1e1;
    border-top:none;
    border-bottom:none;
    height:80px;
    line-height:80px;
    text-align:center;
    font-size:16px;
    color:#333;
    margin:0;
}
.link_list{
    flex:1;
    padding:10px 0;
}
.link_list a{
    color:#666;
    font-size:12px;
    text-decoration:none;
    float:left;
    padding:0 0 0 18px;
    line-height:30px;
}
.link_b{
    padding:20px 0;
}
.link_b p{
    float:left;
    margin:0;
    width:11%;
    margin-right:1.5%;
    font-size:12px;
    color:#333;
    padding-left:38px;
    line-height:1.6;
}
.link_b p:nth-child(1){
    background:url(../images/link1.png) 0 center no-repeat;
}
.link_b p:nth-child(2){
    background:url(../images/link2.png) 0 center no-repeat;
}
.link_b p:nth-child(3){
    background:url(../images/link3.png) 0 center no-repeat;
}
.link_b p:nth-child(4){
    background:url(../images/link4.png) 0 center no-repeat;
}
.link_b p:nth-child(5){
    background:url(../images/link5.png) 0 center no-repeat;
}
.link_b p:nth-child(6){
    background:url(../images/link6.png) 0 center no-repeat;
}
.link_b p:nth-child(7){
    background:url(../images/link7.png) 0 center no-repeat;
}
.link_b p:nth-child(8){
    background:url(../images/link8.png) 0 center no-repeat;
}
.foot_nav{
    background:#383a3e;
    padding-bottom:40px;
}
.foot_nav .container{
    display:flex;
}
.nav_c{
    flex:1;
    padding-top:30px;
}
.nav_c dl{
    float:left;
    width:20%;
}
.nav_c dt{
    font-size:16px;
    color:#fff;
    line-height:40px;
    font-weight: normal;
    margin-bottom:10px;
}
.nav_c dd{
    font-size:12px;
    color:#a8a8a8;
    margin-bottom:10px;
}
.nav_c dd a{
    color:#a8a8a8;
    text-decoration:none;
}
.nav_r{
    padding-top:8px;
}
.nav_r .add{
    padding-top:15px;
    text-align:center;
}
.nav_r .add a{
    position:relative;
    font-size:14px;
    color:#8c8c8c;
    padding:0 15px;
    text-decoration:none;
}
.nav_r .add span{
    position:absolute;
    display:block;
    height:30px;
    width:120px;
    text-align:center;
    line-height:30px;
    font-size:14px;
    color:#fff;
    background:#000;
    border-radius:4px;
    top:-40px;
    left:50%;
    margin-left:-60px;
    display:none;
}
.nav_r .add span:after{
    content:"";
    position:absolute;
    left:50%;
    margin-left:-8px;
    top:30px;
    border-top:8px solid #000;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
}
.nav_r .add a:hover span{
    display:block;
}

.copyright{
    line-height:60px;
    height:80px;
    background:#222;
}
.copyright p{
    text-align:center;
    font-size:14px;
    color:#999;
    margin: 0 auto;
}


.sec_banner img{
    width:100%;
}
.position{
    margin-top:30px;
    height:40px;
    border-bottom:1px solid #d6d6d6;
    line-height:40px;
    overflow: hidden;
    margin-bottom:30px;
}
.position p{
    float:left;
    line-height:39px;
    border-bottom:1px solid #e5000c;
    color:#888;
}
.position p a{
    text-decoration:none;
}
.pages{
    text-align:center;
}
.pagination{
    margin:20px 0 0 0;
}
.pagination>li>a, .pagination>li>span{
    color:#666;
}

.ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.online{
    width:100%;
    height:59px;
    background:#f12f3c;
    border-top:3px solid #e5000c;
    position:fixed;
    left:0;
    bottom:0;
    z-index:99999999;
}
.online .ol{
    float: left;
    width:650px;
}
.online .ol .ewm{
    width: 43px;
    height: 43px;
    float: left;
    margin: 5px 5px 0 0;
}
.online .ol p{
    float: left;
    width: 550px;
    font-size: 14px;
    margin-top: 8px;
    color: #f6fbf7;
    line-height:20px;
    padding-left:15px;
}
.online .oc{
    width: 495px;
    float: left;
    padding: 12px 0 0 60px;
}
.online .oc li{
    float: left;
    width: 111px;
    height: 31px;
    margin-right: 20px;
}
.online .container{
    position:relative;
}
.online .oc li a{
    text-decoration:none;
    color:#fff;
}
.online .oc li a span{
    padding-left:8px;
}
.online .or{
    width: 200px;
    height: 32px;
    float: left;
    padding-top: 15px;
    margin-left:40px;
}
.online .or .tel_img{
    width: 45px;
    width: 32px;
    float: left;
}
.online .or p{
    font-size:18px;
    color:#fff;
    float: left;
    padding-left:20px;
}
.orr{
    position:absolute;
    right:0;
    bottom:0;
}

/************Á¢¼´Õï¶Ï*******************/
.btns {display:none; position:fixed; z-index:999999; top:0; left:0; width:100%;height:100%;}
.ljzd {display:none; position: fixed; left: 50%; top: 50%;z-index:9999999; margin-left: -315px; margin-top: -150px; width: 629px; height: 300px; padding: 7px 8px;  background: url(../images/spr.png) no-repeat right bottom;}
.ljzd .content {  width: 613px; height: 286px; background-color: #fff; border-radius: 3px; }
.ljzd .close{position:absolute; right:10px; top:10px;font-size:20px;font-family:"ËÎÌå";color:#333;}
.ljzd .left { width: 272px; padding: 10px 0 0 22px; float: left;}
.ljzd .left .bd { height: 30px; padding: 1px 1px 1px 28px;  margin-top: 16px; background-repeat: no-repeat; background-image: url(../images/spr.png);}
.ljzd .left .dw { background-position: -114px -625px;}
.ljzd .left .cw { background-position: -114px -655px;}
.ljzd .left .dh { background-position: -114px -685px;}
.ljzd .left .qq { background-position: -114px -715px;}
.ljzd .left .tj { height: 39px; padding: 0; background: none;}
.ljzd .left .tj .submit { display: block; width: 113px; height: 39px; background: url(../images/btn.jpg) no-repeat 0 0; text-indent: -9999px;border: 0;}
.ljzd .left .bd .text { width: 220px; border: 0; outline: none; display: block; float: left; height: 28px; line-height: 16px; padding: 6px 0; text-indent: 10px;font-size:12px;}
.ljzd .left .cw .text { width: 116px; margin-right: 15px;}
.ljzd .left .dh .text { width: 152px;}
.ljzd .left .qq .text { width: 152px;}
.ljzd .left .cw .radio{ float: left; margin: 9px 2px 0 8px;}
.ljzd .left .cw label{ float: left; margin: 7px 3px; font-size:12px;color:#666;font-weight:normal;}
.ljzd .right { width: 316px; height: 238px; padding: 0 10px 0 20px; float: right; border-left: 1px solid #dcd9d9; margin-top: 24px;}
.ljzd .right p { line-height: 24px; font-size:12px; color:#3b3b3b;}
.ljzd .right p font { color: #ff5744;}
.ljzd .right .ll { height: 84px; overflow: hidden;margin: 5px 0 0 0;}
.ljzd .right .ll a { display: block; width: 252px; color: #878787;  height: 28px; line-height: 28px; padding-left: 12px; overflow: hidden; background: url(../images/spr.png) no-repeat -93px -105px;font-size:12px;text-decoration:none;}
.ljzd .right h3 { font-size: 14px; color: #464646; margin-top: 15px;}
.ljzd .right .qq { height: 30px; overflow: hidden;}
.ljzd .right .qq a {  float: left;  display: block; width:125px; margin-right: 12px; padding-left: 30px; height: 30px; text-align: center; line-height: 30px;background: url(../images/spr.png) no-repeat -324px -198px;}
.ljzd .right .qq a p { width: 95px; height: 30px;text-align: center; line-height: 30px;}
.ljzd .right .phone { height: 24px;  line-height:24px; margin-top: 12px; color: #fe5614; font-family: "microsoft yahei"; font-size: 18px;}

@media screen and (max-width:1200px){
    .link_b,.links,.foot_nav{
        display:none;
    }
    .online{
        display:none;
    }
}

@media screen and (min-width:768px) and (max-width:995px){
    .nav>li{
        margin-left:35px;
    }
    .logo_txt{
        display:none;
    }
}
@media screen and (max-width:767px){
    .topbar{
        display: none;
    }
    .nav{
        margin-right:0;
        float:none;
    }
    .navbar-rd{
        padding-top:0;
        padding-bottom:0;
    }
    .navbar-brand{
        padding:13px 15px;
    }
    .navbar-brand img{
        height:24px;
    }
    .logo_txt{
        display:none;
    }
    .navbar-toggle .icon-bar{
        background:#ccc;
    }
    .nav>li{
        float:none;
        margin-left:0;
        text-align: center;
    }
    .nav>li>a{
        padding:0;
        line-height:45px;
        border-bottom:1px solid #eee;
    }
    .nav>li>a:after{
        display:none;
    }
    .nav>li>a.active:after{
        display:none;
    }
    .copyright{
        height:45px;
        line-height:45px;
    }
}